# Import software libraries

In [1]:
# Import required libraries.
import sys           # Read system parameters.
import pandas as pd  # Manipulate and analyze data.
import sqlite3       # Manage SQL databases.

# Summarize software libraries used.
print('Libraries used in this project:')
print('- Python {}'.format(sys.version))
print('- pandas {}'.format(pd.__version__))
print('- sqlite3 {}'.format(sqlite3.sqlite_version))

Libraries used in this project:
- Python 3.7.6 | packaged by conda-forge | (default, Mar 23 2020, 23:03:20)
[GCC 7.3.0]
- pandas 1.1.3
- sqlite3 3.30.1

# Examine the database

In [3]:
# Connect to SQLite database.
conn = sqlite3.connect("data/prod_sample.db")
conn

In [10]:
# List all the tables in the database.
query = "SELECT name FROM sqlite_master WHERE type='table';"
tables = pd.read_sql(query, conn)

print("Tables in database:")
print(tables)

Tables in database:
                    name
0      stock_description
1  online_retail_history

# Read data from the `online_retail_history` table

In [11]:
# Write the query to be executed that selects everything from the online_retail_history table.

query= "select * from online_retail_history"


# Use the read_sql function in pandas to read a query into a DataFrame.

data = pd.read_sql(query,conn)

# Preview the first five rows of the data.

data.head(5)

,Invoice,StockCode,Quantity,InvoiceDate,Price,CustomerID,Country,TotalAmount
0,536365,85123A,6,2010-12-01 08:26:00,2.55,u1785,United Kingdom,15.30
1,536367,84879,32,2010-12-01 08:34:00,1.69,u13047,United Kingdom,54.08
2,536373,85123A,6,2010-12-01 09:02:00,2.55,u1785,United Kingdom,15.30
3,536375,85123A,6,2010-12-01 09:32:00,2.55,u1785,United Kingdom,15.30
4,536378,20725,10,2010-12-01 09:37:00,1.65,u14688,United Kingdom,16.50

In [12]:
# Get the shape of the data.
data.shape

(15321, 8)

# Read data from the `stock_description` table

In [14]:
# Write the query to be executed that selects everything from the online_retail_history table.

query = "select * from stock_description"

# Use the read_sql function in pandas to read a query into a DataFrame.

data  = pd.read_sql(query,conn)
# Preview the first five rows of the data.
data.head(5)

  StockCode                  Description
0     10002  INFLATABLE POLITICAL GLOBE
1     10080     GROOVY CACTUS INFLATABLE
2     10120                 DOGGY RUBBER
3    10123C        HEARTS WRAPPING TAPE
4    10124A  SPOTS ON RED BOOKCOVER TAPE

In [15]:
# Get the shape of the data.
data.shape

(3952, 2)

# Aggregate the `online_retail_history` and `stock_description` datasets

In [16]:
# Write a query to aggregate the two datasets so that you have the stock descriptions as well as the stock code.

query = "select * from online_retail_history  join stock_description on online_retail_history.Stockcode = stock_description.Stockcode "






# Use the read_sql function in pandas to read a query into a DataFrame.

data = pd.read_sql(query,conn)

# Preview the first five rows of the data.
data.head(5)

,Invoice,StockCode,Quantity,InvoiceDate,Price,CustomerID,Country,TotalAmount,StockCode,Description
0,536365,85123A,6,2010-12-01 08:26:00,2.55,u1785,United Kingdom,15.30,85123A,CREAM HANGING HEART T-LIGHT HOLDER
1,536367,84879,32,2010-12-01 08:34:00,1.69,u13047,United Kingdom,54.08,84879,ASSORTED COLOUR BIRD ORNAMENT
2,536373,85123A,6,2010-12-01 09:02:00,2.55,u1785,United Kingdom,15.30,85123A,CREAM HANGING HEART T-LIGHT HOLDER
3,536375,85123A,6,2010-12-01 09:32:00,2.55,u1785,United Kingdom,15.30,85123A,CREAM HANGING HEART T-LIGHT HOLDER
4,536378,20725,10,2010-12-01 09:37:00,1.65,u14688,United Kingdom,16.50,20725,LUNCH BAG RED RETROSPOT

In [17]:
# Get the shape of the data.

data.shape

(17032, 10)

# Identify and fix corrupt or unusable data

In [88]:
# Check the value counts of the "Description" field.
value_count  = data['Description'].value_counts()
value_count

CREAM HANGING HEART T-LIGHT HOLDER    2174
JUMBO BAG RED RETROSPOT               1960
REGENCY CAKESTAND 3 TIER              1711
?                                     1711
PARTY BUNTING                         1615
LUNCH BAG RED RETROSPOT               1421
ASSORTED COLOUR BIRD ORNAMENT         1405
POPCORN HOLDER                        1329
LUNCH BAG  BLACK SKULL.               1271
SET OF 3 CAKE TINS PANTRY DESIGN      1257
PACK OF 72 RETROSPOT CAKE CASES       1178
Name: Description, dtype: int64

In [89]:
# Remove rows where "Description" is just a question mark (?).
cleaned_data = data[data["Description"] !="?"]
value_count= cleaned_data["Description"].value_counts()
value_count

CREAM HANGING HEART T-LIGHT HOLDER    2174
JUMBO BAG RED RETROSPOT               1960
REGENCY CAKESTAND 3 TIER              1711
PARTY BUNTING                         1615
LUNCH BAG RED RETROSPOT               1421
ASSORTED COLOUR BIRD ORNAMENT         1405
POPCORN HOLDER                        1329
LUNCH BAG  BLACK SKULL.               1271
SET OF 3 CAKE TINS PANTRY DESIGN      1257
PACK OF 72 RETROSPOT CAKE CASES       1178
Name: Description, dtype: int64

In [90]:
# Preview the first five rows of the data.
cleaned_data.head(5)

,Invoice,StockCode,Quantity,InvoiceDate,Price,CustomerID,Country,TotalAmount,StockCode,Description
0,536365,85123A,6,2010-12-01 08:26:00,2.55,u1785,United Kingdom,15.30,85123A,CREAM HANGING HEART T-LIGHT HOLDER
1,536367,84879,32,2010-12-01 08:34:00,1.69,u13047,United Kingdom,54.08,84879,ASSORTED COLOUR BIRD ORNAMENT
2,536373,85123A,6,2010-12-01 09:02:00,2.55,u1785,United Kingdom,15.30,85123A,CREAM HANGING HEART T-LIGHT HOLDER
3,536375,85123A,6,2010-12-01 09:32:00,2.55,u1785,United Kingdom,15.30,85123A,CREAM HANGING HEART T-LIGHT HOLDER
4,536378,20725,10,2010-12-01 09:37:00,1.65,u14688,United Kingdom,16.50,20725,LUNCH BAG RED RETROSPOT

# Identify and remove duplicates

In [93]:
# Identify all duplicated data.
cleaned_data.duplicated().sum()

115

In [94]:
# Print the duplicated data.
duplicate  = cleaned_data[cleaned_data.duplicated(keep= False)]
duplicate

,Invoice,StockCode,Quantity,InvoiceDate,Price,CustomerID,Country,TotalAmount,StockCode,Description
176,536863,20727,1,2010-12-03 11:19:00,1.65,u17967,United Kingdom,1.65,20727,LUNCH BAG BLACK SKULL.
178,536863,20727,1,2010-12-03 11:19:00,1.65,u17967,United Kingdom,1.65,20727,LUNCH BAG BLACK SKULL.
496,537781,84879,8,2010-12-08 12:46:00,1.69,u17341,United Kingdom,13.52,84879,ASSORTED COLOUR BIRD ORNAMENT
497,537781,84879,8,2010-12-08 12:46:00,1.69,u17341,United Kingdom,13.52,84879,ASSORTED COLOUR BIRD ORNAMENT
569,537955,20725,1,2010-12-09 11:28:00,1.65,u16782,United Kingdom,1.65,20725,LUNCH BAG RED RETROSPOT
...,...,...,...,...,...,...,...,...,...,...
16673,580469,20727,1,2011-12-04 12:32:00,1.65,u14583,United Kingdom,1.65,20727,LUNCH BAG BLACK SKULL.
16714,580611,20727,1,2011-12-05 11:49:00,1.65,u12748,United Kingdom,1.65,20727,LUNCH BAG BLACK SKULL.
16716,580611,20727,1,2011-12-05 11:49:00,1.65,u12748,United Kingdom,1.65,20727,LUNCH BAG BLACK SKULL.
16994,581449,22423,1,2011-12-08 17:37:00,12.75,u12748,United Kingdom,12.75,22423,REGENCY CAKESTAND 3 TIER
16996,581449,22423,1,2011-12-08 17:37:00,12.75,u12748,United Kingdom,12.75,22423,REGENCY CAKESTAND 3 TIER

In [95]:
cleaned_data = cleaned_data.drop_duplicates()
cleaned_data.head()

,Invoice,StockCode,Quantity,InvoiceDate,Price,CustomerID,Country,TotalAmount,StockCode,Description
0,536365,85123A,6,2010-12-01 08:26:00,2.55,u1785,United Kingdom,15.30,85123A,CREAM HANGING HEART T-LIGHT HOLDER
1,536367,84879,32,2010-12-01 08:34:00,1.69,u13047,United Kingdom,54.08,84879,ASSORTED COLOUR BIRD ORNAMENT
2,536373,85123A,6,2010-12-01 09:02:00,2.55,u1785,United Kingdom,15.30,85123A,CREAM HANGING HEART T-LIGHT HOLDER
3,536375,85123A,6,2010-12-01 09:32:00,2.55,u1785,United Kingdom,15.30,85123A,CREAM HANGING HEART T-LIGHT HOLDER
4,536378,20725,10,2010-12-01 09:37:00,1.65,u14688,United Kingdom,16.50,20725,LUNCH BAG RED RETROSPOT

In [96]:
cleaned_data.duplicated().sum()

0

# Correct date formats

In [97]:
# Get the data types for every column in the DataFrame.
cleaned_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15206 entries, 0 to 17031
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Invoice      15206 non-null  object
 1   StockCode    15206 non-null  object
 2   Quantity     15206 non-null  int64
 3   InvoiceDate  15206 non-null  object
 4   Price        15194 non-null  float64
 5   CustomerID   12435 non-null  object
 6   Country      15206 non-null  object
 7   TotalAmount  15194 non-null  float64
 8   StockCode    15206 non-null  object
 9   Description  15206 non-null  object
dtypes: float64(2), int64(1), object(7)
memory usage: 1.3+ MB

In [104]:
# Convert "InvoiceDate" to a "%Y-%m-%d" datetime format.
cleaned_data['InvoiceDate']=pd.to_datetime(cleaned_data["InvoiceDate"],format = "%Y-%m-%d" ).dt.date

In [105]:
# Get the data types for every column in the converted DataFrame.
cleaned_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15206 entries, 0 to 17031
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Invoice      15206 non-null  object
 1   StockCode    15206 non-null  object
 2   Quantity     15206 non-null  int64
 3   InvoiceDate  15206 non-null  object
 4   Price        15194 non-null  float64
 5   CustomerID   12435 non-null  object
 6   Country      15206 non-null  object
 7   TotalAmount  15194 non-null  float64
 8   StockCode    15206 non-null  object
 9   Description  15206 non-null  object
dtypes: float64(2), int64(1), object(7)
memory usage: 1.3+ MB

# Examine the table before finishing

In [106]:
# Preview the first five rows of the data.
cleaned_data.head()

,Invoice,StockCode,Quantity,InvoiceDate,Price,CustomerID,Country,TotalAmount,StockCode,Description
0,536365,85123A,6,2010-12-01,2.55,u1785,United Kingdom,15.30,85123A,CREAM HANGING HEART T-LIGHT HOLDER
1,536367,84879,32,2010-12-01,1.69,u13047,United Kingdom,54.08,84879,ASSORTED COLOUR BIRD ORNAMENT
2,536373,85123A,6,2010-12-01,2.55,u1785,United Kingdom,15.30,85123A,CREAM HANGING HEART T-LIGHT HOLDER
3,536375,85123A,6,2010-12-01,2.55,u1785,United Kingdom,15.30,85123A,CREAM HANGING HEART T-LIGHT HOLDER
4,536378,20725,10,2010-12-01,1.65,u14688,United Kingdom,16.50,20725,LUNCH BAG RED RETROSPOT

# Load the dataset into a pickle file

In [107]:
# Save the dataset as a pickle file named online_history_cleaned.pickle.

cleaned_data.to_pickle("cleaned_data.pickle")

In [108]:
# Close any connections to the database.

conn.close